* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: Georgia, serif;
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0;
}

a:hover {
  text-decoration: none;
}

a {
  transition: 0.5s;
}

.nav {
  position: fixed;
  z-index: 10;
  height: 80px;
  width: 100%;
  background-color: #f9c3d6;
  box-shadow: 0 5px 20px #b5748f;
}

.nav ul {
  margin: 0;
  height: inherit;
}

.nav ul li {
  display: inline-block;
  text-align: center;
  height: inherit;
}

.nav ul li img {
  object-fit: contain;
  height: inherit;
  padding: 10px;
}

.nav ul li a {
  position: relative;
  color: white;
  display: inherit;
  top: 50%;
  transform: translate(0, -50%);
}

.nav ul li a:hover {
  color: #b5748f;
}

header {
  height: 100vh;
  background-image: url("/baking-by-jamie/Media/bakingjamie-bg.jpg");
  background-size: cover;
  background-color: #fdeef5;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: -1;
}

.center {
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  width: 100%;
}

.logo {
  width: 30%;
  top: 50%;
  position: fixed;
}

.slogan {
  position: fixed;
  text-align: center;
  top: 90%;
  color: white;
  font-size: 3rem;
}

.story {
  background: white;
  text-align: center;
  color: #b5748f;
  font-size: 1.1rem;
}

.story p {
  padding: 25px 0;
  border-bottom: 3px solid #b5748f;
}

.story a {
  color: #f9c3d6;
}

.story a:hover {
  color: #b5748f;
}

.about-content {
  padding: 50px;
}

.goodies {
  height: 100vh;
  background-color: #fdeef5;
}
