/* || GENERAL STYLING */

* {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  width: 100vw;
  font-family: Georgia, serif;
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0;
}

/* || UTILITIES */

a:hover {
  text-decoration: none;
}

a {
  transition: 0.5s;
  cursor: pointer;
}

img {
  width: 100%;
}

ul li {
  display: inline-block;
}

.center {
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-text {
  text-align: center;
}

.inherit-height {
  height: inherit;
}

.hide {
  display: none;
}

/* || NAVIGATION  */

.nav {
  position: fixed;
  z-index: 10;
  height: 80px;
  background-color: #f9c3d6;
  box-shadow: 0 5px 20px #b5748f;
}

.nav-options {
  margin: 0;
}

.nav-options li {
  text-align: center;
}

.nav-options li img {
  object-fit: contain;
  padding: 10px;
}

.nav-options li a {
  position: relative;
  color: white;
  font-size: 0.9rem;
  display: inherit;
  top: 50%;
  transform: translate(0, -50%);
}

.nav-options li a:hover {
  color: #b5748f;
}

/* || HEADER */

header {
  height: 100vh;
  background-image: url("https://kaylapark99.github.io/baking-jamie/Media/bakingjamie-bg.jpg");
  background-size: cover;
  background-color: #fdeef5;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: -1;
}

.header-fix {
  position: fixed;
}

.logo {
  width: 70%;
  top: 50%;
}

.slogan {
  top: 80%;
  color: white;
  font-size: 2rem;
}

svg {
  position: relative;
  top: 100vh;
}

/* ABOUT SECTION */

.story {
  background: white;
  color: #b5748f;
}

.about-content {
  padding: 50px;
}

.about-content h1 {
  font-size: 1.8rem;
}

.about-content p {
  padding-top: 25px;
  padding-bottom: 50px;
  font-size: 1.1rem;
  border-bottom: 3px solid #b5748f;
}

.about-content a {
  color: #f9c3d6;
}

.about-content a:hover {
  color: #b5748f;
}

/* BAKED GOODS DISPLAY PICTURES  */

.goodies {
  padding: 25px;
  background: #fdeef5;
  color: #b5748f;
}

.goodies h1 {
  margin-top: 30px;
  font-size: 2rem;
}

.goodies-options {
  padding: 20px 0;
  border-bottom: 1px solid #b5748f;
}

.goodies-options li {
  opacity: 0.5;
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
}

.clicked {
  opacity: 1 !important;
}

.goodies-pics img {
  margin-bottom: 30px;
}

/* CONTACT SECTION */

.order {
  padding: 50px;
  color: white;
  background: #b5748f;
}

.order-info {
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}

.order-info h3 {
  padding-bottom: 25px;
}

.contact-info {
  margin-top: 50px;
}

.contact-info-content h1 {
  font-size: 2rem;
}

#email a {
  color: white;
  opacity: 0.75;
}

#email a:hover {
  opacity: 1;
  transition: 0.5s;
}

#insta a {
  opacity: 0.75;
  color: white;
}

#insta img {
  width: 30px;
  transition: 0.5s;
  padding-right: 10px;
}

#insta a:hover {
  opacity: 1;
  transition: 0.5s;
}

/* || RESPONSIVE DESIGN */

@media (min-width: 576px) {
  .logo {
    width: 40%;
  }
}

@media (min-width: 768px) {
  .logo {
    width: 30%;
  }

  .slogan {
    top: 85%;
    color: white;
    font-size: 3rem;
  }

  .nav ul li a {
    font-size: 1.2rem;
  }

  .about-content h1 {
    font-size: 2.4rem;
  }

  .goodies {
    padding: 50px;
  }

  .goodies h1 {
    font-size: 4rem;
  }

  .goodies-options li {
    font-size: 1.2rem;
  }

  .order-info {
    padding-bottom: 0;
    border-bottom: none;
  }

  .contact-info {
    margin-top: 0;
    text-align: right;
    border-left: 1px solid white;
  }

  .contact-info-content {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
