* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: Georgia, serif;
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0;
}

.nav {
  position: fixed;
  z-index: 10;
  height: 80px;
  width: 100%;
  background-color: #f9c3d6;
  box-shadow: 0 5px 20px #b5748f;
}

.nav ul {
  margin: 0;
  height: inherit;
}

.nav ul li {
  display: inline-block;
  text-align: center;
  height: inherit;
}

.nav ul li img {
  object-fit: contain;
  height: inherit;
  padding: 10px;
}

.nav ul li a {
  position: relative;
  color: white;
  display: inherit;
  top: 50%;
  transform: translate(0, -50%);
}

.nav ul li a:hover {
  color: #b5748f;
  text-decoration: none;
}

header {
  height: 100vh;
  background-image: url("/Media/bakingjamie-bg.jpg");
  background-size: cover;
  background-color: #fdeef5;
  background-position: center;
  background-attachment: fixed;
}

img {
  width: 100%;
}

.logo {
  position: fixed;
  width: 30%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.story {
  position: relative;
  text-align: center;
  color: #b5748f;
}

.about-content {
  padding: 50px;
}

.goodies {
  height: 100vh;
  background-color: #fdeef5;
}
